<div class="about" id="about">
    <div class="container">
        <div class="about__content">
            <div class="about__info">
                <div class="about__title sectionTitle">About AstroQueen</div>
                <div class="about__desc sectionText">AstroQueen is a team of professional astrologers who have been providing personalized and accurate natal chart readings for over 7 years. We strive to unlock the secrets of your birth chart and provide you with valuable insights into your life and future.</div>
                <ul class="about__list"> 
                    <li class="about__list-item sectionText">
                        Personalized approach
                    </li>
                    <li class="about__list-item sectionText">
                        48-hour turnaround
                    </li>
                    <li class="about__list-item sectionText">
                        Consultation call with an astrologer
                    </li>
                    <li class="about__list-item sectionText">
                        Experienced Astrologers: Over 5 Years of Active Practice
                    </li>
                    <li class="about__list-item sectionText">
                        Certified Experts: Members of the Astrological Association of Great Britain
                    </li>
                </ul>
                <a href="" class="custom__link black custom__link_desctop"><span>Get Your Natal Chart Now</span></a>
            </div>
            <div class="about__img-wrap">
                <img src="images/about_img.png" alt="" class="about__img">
                <img src="images/planet1.png" alt="" class="planet1">
                <img src="images/planet2.png" alt="" class="planet2">
            </div>
            <a href="" class="custom__link black custom__link_mobile"><span>Get Your Natal Chart Now</span></a>
        </div>
    </div>
</div>