 <div class="banner">
    <img src="images/banner_img.png" alt="" class="banner__img">
    <img src="images/banner_bg1.png" alt="" class="banner__bg1">
    <img src="images/banner_bg2.png" alt="" class="banner__bg2">
    <div class="banner__info">
        <div class="sectionTitle">Reveal the Secrets of Stars: Your Natal Chart Awaits"</div>
        <div class="sectionText">Embark on a journey of self-discovery with a chart that's as unique as you are. Order your personalized guide now</div>
        <button class="banner__btn custom__link white"><span>Get Your Natal Chart Now</span></button>
    </div>
 </div>