<div class="categoryWall">
    <div class="categoryWall__content">
        <div class="sectionTitle">
            Embark on a Journey of Self-Discovery with the Stars
        </div>
        <div class="sectionText categoryWall__sectionText">
            Unveil the roadmap to your personal stars and find guidance for various aspects of life with your personalized natal chart. Here’s what you will discover:
        </div>
        <div class="categoryWall__items">
            <div class="categoryWall__item">
                <img src="images/ctg1.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Life Phases and Transits
                </div>
                <div class="sectionText categoryWall__item-desc">Uncover pivotal life phases and transitions, anticipating significant changes and milestones that shape your journey.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/ctg2.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Personal Characteristics
                </div>
                <div class="sectionText categoryWall__item-desc">Gain insight into the core traits of your personality, identifying your strengths and areas for growth.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/ctg3.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Career and Vocation
                </div>
                <div class="sectionText categoryWall__item-desc">Explore suitable career paths and professional tendencies that align with your astrological profile for fulfillment and success.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/ctg4.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Love and Relationships
                </div>
                <div class="sectionText categoryWall__item-desc">Understand the nuances of your personal relationships and compatibility with partners, guiding your heart’s connections.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/ctg5.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Financial Potential
                </div>
                <div class="sectionText categoryWall__item-desc">Decipher your approach to wealth and uncover the potential for financial prosperity embedded in the stars.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/ctg6.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Health Tendencies
                </div>
                <div class="sectionText categoryWall__item-desc">Recognize predispositions to certain health conditions or challenges, equipping you with foresight for well-being.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/ctg7.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Education and Learning Preferences
                </div>
                <div class="sectionText categoryWall__item-desc">Discover educational prospects and learning preferences that can steer your academic and intellectual pursuits.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/ctg8.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Family Dynamics
                </div>
                <div class="sectionText categoryWall__item-desc">Reflect on the influence of familial background and the dynamics with relatives to navigate your domestic sphere.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/ctg9.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Spiritual and Psychological Growth:
                </div>
                <div class="sectionText categoryWall__item-desc">Embark on pathways for personal and spiritual development, unlocking the potential for inner evolution.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
            <div class="categoryWall__item">
                <img src="images/ctg10.png" alt="" class="categoryWall__item-img">
                <div class="categoryWall__item-title">
                    Travel and Relocation:
                </div>
                <div class="sectionText categoryWall__item-desc">Identify propensities for travel and favorable relocation directions, opening the world as your canvas.</div>
                <a href="#" class="link-more">Learn more</a>
            </div>
        </div>
        <a href="#" class="link-more" id="seeMore">See more</a>
    </div>
</div>