<footer class="footer">
    <div class="guideModal">
        <img src="images/guideModal_bg.png" alt="" class="guideModal__bg-img">
        <div class="guideModal__title sectionTitle">Get your natal chart guide</div>
        <form action="" class="guideModal__form">
            <div class="guideModal__inputs">
                <input type="text" class="guideModal__input sectionText" placeholder="Full Name">
                <div class="guideModal__select-wrapper">
                    <select class="guideModal__input sectionText">
                        <option value="">Gender</option>
                        <option value="">Male</option>
                        <option value="">Female</option>
                        <option value="">Another</option>
                    </select>
                </div>
                <input type="text" class="guideModal__input sectionText" placeholder="dd.mm.yy">
                <input type="text" class="guideModal__input sectionText" placeholder="Time of Birth">
                <input type="text" class="guideModal__input sectionText" placeholder="Birth Location">
                <input type="email" class="guideModal__input sectionText" placeholder="Email">
            </div>
            <div class="guideModal__checkbox-wrap sectionText">
                <label class="custom-checkbox">
                    <input type="checkbox" value="value-1">
                    <span></span>
                </label>
                By accepting you agree to our Terms of Service and Privacy Policy.
            </div>
            <button class="guideModal__btn custom__link white"><span>Get Your Natal Chart Now</span></button>
        </form>
    </div>
</footer>