<div id="top">
    <header class="header">
        <div class="container">
            <div class="header__content">
                <a href="/" class="logo header__logo">
                    <img src="images/logo.svg" alt="logo"  class="logo__desktop">
                    <img src="images/logo_mobile.svg" alt="logo" class="logo__mobile">
                </a>
                <ul class="menu header__menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">About Us</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Contact Us</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Reviews</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Services</a>
                    </li>
                </ul>
                <div class="burger">
                    <img src="images/burger_icon.svg" alt="menu">
                </div>
                <div class="burgerMenu">
                    <img src="images/burger_close.svg" alt="" class="burgerMenu__close">
                    <img src="images/burger_menu_bg.png" alt="" class="burgerMenu__bg">
                    <ul class="menu burgerMenu__menu">
                        <li class="menu__item">
                            <a href="#" class="menu__link">About Us</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Contact Us</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Reviews</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Services</a>
                        </li>
                    </ul>
                    <ul class="burgerMenu__contacts">
                        <li class="burgerMenu__contacts-item">
                            Contact Us
                        </li>
                        <li class="burgerMenu__contacts-item">
                            <a href="#" class="burgerMenu__contacts-link">
                                AstroQueen@company.com
                            </a>
                        </li>
                        <li class="burgerMenu__contacts-item">
                            <a href="#" class="burgerMenu__contacts-link">
                                +380 63 856 22 55
                            </a>
                        </li>
                    </ul>
                    <ul class="burgerMenu__socials">
                        <li class="burgerMenu__socials-item">
                            Follow us
                        </li>
                        <li class="burgerMenu__socials-item">
                            <a href="#" class="burgerMenu__socials-link">
                                Facebook    
                            </a>
                        </li>
                        <li class="burgerMenu__socials-item">
                            <a href="#" class="burgerMenu__socials-link">
                                Instagram
                            </a>
                        </li>
                        <li class="burgerMenu__socials-item">
                            <a href="#" class="burgerMenu__socials-link">
                                Youtube
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__content">
                <div class="main__info">
                    <h1 class="main__title">Create Your Personal Natal Chart Today</h1>
                    <div class="main__desc">Gain a deeper understanding of yourself and your potential in just 48 hours</div>
                    <a href="#" class="custom__link black">
                        <span>Get Your Natal Chart Now</span>
                    </a>
                </div>
                <img src="images/horoscope.png" alt="" class="main__img">
                <a href="#" class="custom__link black">
                    <span>Get Your Natal Chart Now</span>
                </a>
            </div>
        </div>
    </main>
</div>