<div class="howItWorks blockTemplate">
    <img src="images/howItWorks_bg.png" alt="" class="howItWorks__bg-img">
    <div class="container">
        <div class="blockTemplate__content howItWorks__content">
            <div class="howItWorks__info-wrap">
                <div class="howItWorks__info">
                    <div class="sectionTitle howItWorks__sectionTitle">How it works</div>
                    <div class="howItWorks__numbers">
                        <div class="howItWorks__group">
                            <div class="howItWorks__number_wrap">
                                <div class="howItWorks__number">1</div>
                                <div class="howItWorks__number-desc">Brief</div>
                            </div>
                            <div class="sectionText mw230">Questions that will be asked to the client when drawing up a natal chart</div>
                        </div>
                        <div class="howItWorks__group">
                            <div class="howItWorks__number_wrap">
                                <div class="howItWorks__number">2</div>
                                <div class="howItWorks__number-desc">Ready in 48 hours</div>
                            </div>
                            <div class="sectionText">The client will be in touch with support during this time.</div>
                        </div>
                        <div class="howItWorks__group">
                            <div class="howItWorks__number_wrap">
                                <div class="howItWorks__number">3</div>
                                <div class="howItWorks__number-desc">Сonsultation call</div>
                            </div>
                            <div class="sectionText mw230">Possibility of calling with an astrologer to discuss the chart and answer any questions.</div>
                        </div>
                        <div class="howItWorks__group">
                            <div class="howItWorks__number_wrap">
                                <div class="howItWorks__number">4</div>
                                <div class="howItWorks__number-desc">Card delivery</div>
                            </div>
                            <div class="sectionText">Receive by email your complete natal chart with a comprehensive guide to your astrological profile, delivered with care to illuminate your path ahead</div>
                        </div>
                    </div>
                </div>
                <img src="images/hands.png" alt="" class="howItWorks__info-img">
            </div>
        </div>
    </div>
</div>