<div class="pricing blockTemplate">
    <img src="images/stars_bg.png" alt="" class="pricing__bg-img">
    <img src="images/pricing_bg.png" alt="" class="pricing__bg-img">
    <div class="container2">
        <div class="blockTemplate__content pricing__content">
            <div class="pricing__info-wrap">
                <div class="pricing__info">
                    <div class="sectionTitle pricing__sectionTitle">Pricing</div>
                    <div class="pricing__tabs">
                        <div class="pricing__tab active">New Client Offerings</div>
                        <div class="pricing__tab">For Returning Clients</div>
                    </div>
                    <div class="pricing__items">
                        <div class="pricing__item-wrap">
                            <div class="pricing__item">
                                <div class="pricing__item-title">Natal Chart:<br>Your Personal Blueprint</div>
                                <div class="pricing__item-price">£ 200</div>
                                <ul class="pricing__item-list">
                                    <li class="pricing__item-list__item">
                                        will be ready in 72 hours
                                    </li>
                                    <li class="pricing__item-list__item">
                                        50 minutes of personal consultation with an astrologer
                                    </li>
                                </ul>
                                <div class="pricing__item-desc sectionText">
                                    For an in-depth understanding of your personality and essence, our Natal Chart service offers a deep dive into your character’s strengths and weaknesses. It's a foundational tool for self-awareness and personal growth.
                                </div>
                                <button class="pricing__item-btn custom__link white"><span>Get Your Natal Chart Now</span></button>
                            </div>
                        </div>
                        <div class="pricing__item-wrap">
                            <div class="pricing__item">
                                <div class="pricing__item-title">Natal Chart + Horoscope:<br>Your Future Decoded</div>
                                <div class="pricing__item-price">£ 300</div>
                                <ul class="pricing__item-list">
                                    <li class="pricing__item-list__item">
                                        will be ready in 96 hours
                                    </li>
                                    <li class="pricing__item-list__item">
                                        80 minutes of personal consultation with an astrologer
                                    </li>
                                </ul>
                                <div class="pricing__item-desc sectionText">
                                    Combine the insights of your Natal Chart with a Horoscope to gain specific predictions and advice for upcoming events, opportunities, and challenges. This tailored guidance will address your specific queries
                                </div>
                                <button class="pricing__item-btn custom__link white"><span>Get Your Natal Chart Now</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="pricing__info-link sectionText">
                        <span>
                            What is the difference between a natal chart and a horoscope?
                        </span>
                        <img src="images/info.svg" alt="">
                        <div class="pricing__info-link__modal">
                            <p class="sectionText">Natal Chart:</p>
                            <p class="sectionText">This is like a cosmic birth certificate. It's a map showing where all the stars and planets were when you were born. It tells you about your personality, natural talents, and life path. Think of it as your unique astrological signature.</p>
                            <p class="sectionText">Horoscope::</p>
                            <p class="sectionText">This is more like a weather report of your life. It looks at how the planets and stars are moving right now and in the future, and how these movements affect you. A horoscope gives you tips and predictions for your daily, monthly, or yearly life based on these changes in the sky.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>