<div class="questions">
    <div class="container">
        <div class="questions__content">
            <div class="sectionTitle">Frequently asked questions</div>
            <ul class="questions__list">
                <li class="questions__item">
                    <div class="questions__item-title">What is a natal chart?
                        <img src="images/list_icon.svg" alt="" class="questions__item-arrow">
                    </div>
                    <div class="questions__item-text sectionText">A natal chart, also known as a birth chart, is a map of the positions of the planets at the exact moment of a person's birth. It is used in astrology to gain insights into a person's personality, strengths and weaknesses, and potential future.</div>
                    
                </li>
                <li class="questions__item">
                    <div class="questions__item-title">How accurate is a natal chart reading?
                        <img src="images/list_icon.svg" alt="" class="questions__item-arrow">
                    </div>
                    <div class="questions__item-text sectionText">A natal chart, also known as a birth chart, is a map of the positions of the planets at the exact moment of a person's birth. It is used in astrology to gain insights into a person's personality, strengths and weaknesses, and potential future.</div>
                    
                </li>
                <li class="questions__item">
                    <div class="questions__item-title">How long does it take to receive my natal chart?
                        <img src="images/list_icon.svg" alt="" class="questions__item-arrow">
                    </div>
                    <div class="questions__item-text sectionText">A natal chart, also known as a birth chart, is a map of the positions of the planets at the exact moment of a person's birth. It is used in astrology to gain insights into a person's personality, strengths and weaknesses, and potential future.</div>
                    
                </li>
                <li class="questions__item">
                    <div class="questions__item-title">What is the consultation call?
                        <img src="images/list_icon.svg" alt="" class="questions__item-arrow">
                    </div>
                    <div class="questions__item-text sectionText">A natal chart, also known as a birth chart, is a map of the positions of the planets at the exact moment of a person's birth. It is used in astrology to gain insights into a person's personality, strengths and weaknesses, and potential future.</div>
                    
                </li>
                <li class="questions__item">
                    <div class="questions__item-title">What is the consultation call?
                        <img src="images/list_icon.svg" alt="" class="questions__item-arrow">
                    </div>
                    <div class="questions__item-text sectionText">A natal chart, also known as a birth chart, is a map of the positions of the planets at the exact moment of a person's birth. It is used in astrology to gain insights into a person's personality, strengths and weaknesses, and potential future.</div>
                    
                </li>
            </ul>
            <a href="#" class="questions__link-more link-more" id="seeMore2">See more</a>
        </div>
    </div>
</div>