 <div class="reviews" id="reviews">
    <div class="content reviews__content">
        <div class="reviews__items">
            <div class="reviews__item">
                <div class="reviews__item-img__wrap">
                    <img src="images/rev1.png" alt="" class="reviews__item-img">
                    <img src="images/play_btn.svg" alt="" class="reviews__item-img_play">
                </div>
                <div class="reviews__item-title">
                     Brittany Meier
                </div>
                <div class="sectionText reviews__item-desc">“I was blown away by the level of detail and accuracy in my natal chart reading from AstroQueen. It truly felt like my astrologer knew me better than I knew...</div>
                <button class="reviews__link link-more">Learn more</button>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-img__wrap">
                    <img src="images/rev2.png" alt="" class="reviews__item-img">
                    <img src="images/play_btn.svg" alt="" class="reviews__item-img_play">
                </div>
                <div class="reviews__item-title">
                      Justine Zevin
                </div>
                <div class="sectionText reviews__item-desc">“I was blown away by the level of detail and accuracy in my natal chart reading from AstroQueen. It truly felt like my astrologer knew me better than I knew...</div>
                <button class="reviews__link link-more">Learn more</button>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-img__wrap">
                    <img src="images/rev3.png" alt="" class="reviews__item-img">
                    <img src="images/play_btn.svg" alt="" class="reviews__item-img_play">
                </div>
                <div class="reviews__item-title">
                    Karen Hogan
                </div>
                <div class="sectionText reviews__item-desc">“I've always been interested in astrology, but I had never had a professional natal chart reading before. I was so impressed by the insights and guidance provided by AstroQueen's...</div>
                <button class="reviews__link link-more">Learn more</button>
            </div>
        </div>
    </div>
    <div class="review">
        <div class="review__header">
            <div class="review__name">Justine Zevin </div>   
            <div class="review__date">14.06.2023</div>   
        </div>
        <div class="review__text sectionText">I've always been interested in astrology, but I had never had a professional natal chart reading before. I was so impressed by the insights and guidance provided by AstroQueen's astrologers. They helped me understand my strengths and weaknesses and gave me a new perspective on my life. I would definitely recommend this service.</div>
        <div class="review__video">
            <video id="reviewVideo" src="images/main_bg.mp4" controls ></video>
            <img src="images/vid_rev.png" alt="" class="vid_rev">
            <img src="images/video_btn.svg" alt="play" class="review__video-btn" id="review__video-btn">
        </div>
    </div>
</div>