 <div class="sertificates">
    <div class="sectionTitle">Certificates</div>
    <div class="sertificates__desc sectionText">Unveil the roadmap to your personal stars and find guidance for various aspects of life with your personalized natal chart. Here’s what you will discover:</div>
    <div class="sertificates__slider">
        <img src="images/sertificate.png" alt="sertificate">
        <img src="images/sertificate.png" alt="sertificate">
        <img src="images/sertificate.png" alt="sertificate">
    </div>
    <div class="sertificates__bottom_text sectionText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </div>
 </div>