 <div class="steps" id="contacts">
    <!--<img src="images/stars_bg.png" alt="" class="whatIs__stars-bg-img">
    <img src="images/whatIs_bg.png" alt="" class="whatIs__bg-img">-->
    <div class="container">
        <div class="steps__content">
            <div class="steps__info">
                <div class="sectionTitle steps__sectionTitle">Get your natal chart guide</div>
                <div class="steps__range">
                    <div class="steps__range-item active current">1</div>
                    <div class="steps__range-item">2</div>
                    <div class="steps__range-item">3</div>
                    <div class="steps__range-item">4</div>
                </div>
                <div class="steps__wrap">
                    <div class="steps__inputs step step1">
                        <div class="steps__inputs-select__wrapper">
                            <select name="select__service" id="service">
                                <option value="Service">Service</option>
                                <option value="Service2">Service2</option>
                                <option value="Service3">Service3</option>
                            </select>
                        </div>
                        <input type="text" placeholder="Full Name" id="name">
                        <input type="tel" name="" id="phone">
                        <input type="email" name="" id="mail" placeholder="Email">
                    </div>
                    <div class="steps__inputs step step2 hide">
                        <div class="steps__inputs-select__wrapper">
                            <select name="" id="gender">
                                <option value="">Gender</option>
                                <option value="">Mail</option>
                                <option value="">Female</option>
                                <option value="">Other</option>
                            </select>
                        </div>
                        <input type="text" placeholder="Date of birth" id="birthday">
                        <input type="text" placeholder="Time of birth" id="time">
                        <div class="steps__inputs-select__wrapper">
                            <select name="" id="place">
                                <option value="">Place of birth</option>
                                <option value="">Place 1</option>
                                <option value="">Place 2</option>
                                <option value="">Place 3</option>
                            </select>
                        </div>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Field for you questions ">

                        </textarea>
                        <div class="sectionText">What is the right way to ask a question to an astrologer?</div>
                    </div>
                    <div class="steps__result step step3 hide">
                        <p class="step3__name">Johnny Depp</p>
                        <p class="step3__phone">+308685521212</p>
                        <p class="step3__mail">Johnny@gmail.com</p>
                        <p class="step3__service">First reference: natal chart, chart + horoscope;</p>
                        <p class="step3__gender">Male</p>
                        <p class="step3__birthday">09.06.1963</p>
                        <p class="step3__time">19:50</p>
                        <p class="step3__place">Owensboro. Kentucky</p>
                        <ol class="steps__result-list">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </li>
                            <li>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                            <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                        </ol>
                    </div>
                    <div class="steps__final step step4 hide">
                        <p class="sectionText">First reference: natal chart, chart + horoscope - £ 300</p>
                        <div class="sectionText steps__final-sectionText">After payment, you will be contacted by our manager to determine a time to call you</div>
                        <div class="steps__final-options__title">Payment Methods</div>
                        <ul class="steps__final-options">
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="option" value="">
                                    <span>Variant</span>
                                </label>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="option" value="">
                                    <span>Variant</span>
                                </label>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="option" value="">
                                    <span>Variant</span>
                                </label>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="option" value="">
                                    <span>Variant</span>
                                </label>
                            </li>
                        </ul>
                        <div class="steps__final-checkbox__wrapper sectionText">
                            <label class="custom-checkbox">
                                <input type="checkbox" value="value-1">
                                <span></span>
                            </label>
                            By accepting you agree to our Terms of Service and Privacy Policy.
                        </div>
                        <button class="steps__final-btn custom__link white"><span>Get Your Natal Chart Now</span></button>
                    </div>
                </div>
                <div class="steps__navigation">
                    <a href="#" class="link-more steps__link-more" id="steps__back">Back</a>
                    <a href="#" class="link-more steps__link-more" id="steps__next">Next step</a>
                </div>
            </div>
            <div class="steps__img">
                <img src="images/steps_img.png" alt="">
            </div>
        </div>
    </div>
 </div>