 <div class="steps">
    <!--<img src="images/stars_bg.png" alt="" class="whatIs__stars-bg-img">
    <img src="images/whatIs_bg.png" alt="" class="whatIs__bg-img">-->
    <div class="container">
        <div class="steps__content">
            <div class="steps__info">
                <div class="sectionTitle steps__sectionTitle">Get your natal chart guide</div>
                <div class="steps__range">
                    <div class="steps__range-item active">1</div>
                    <div class="steps__range-item">2</div>
                    <div class="steps__range-item">3</div>
                    <div class="steps__range-item">4</div>
                </div>
                <div class="steps__inputs">
                    <div class="steps__inputs-select__wrapper">
                        <select name="" id="">
                            <option value="">Service</option>
                            <option value="">Service2</option>
                            <option value="">Service3</option>
                        </select>
                    </div>
                    <input type="text" placeholder="Full Name">
                    <input type="tel" name="" id="" placeholder="+380 00 000 00 00">
                    <input type="email" name="" id="" placeholder="Email">
                </div>
                <a href="#" class="link-more steps__link-more" id="steps__seeMore">Next step</a>
            </div>
            <div class="steps__img">
                <img src="images/steps_img.png" alt="">
            </div>
        </div>
    </div>
 </div>