<div class="sub__header_fullwidth ">
    <div class="sub__header">
        <span class="sub__header_item">Natal Chart Reading</span>
        <span class="sub__header_item">Relationship Compatibility</span>
        <span class="sub__header_item">Transit & Progression</span>
        <span class="sub__header_item">Personal Horoscope for a Year</span>
        <span class="sub__header_item">When I get married?</span>
        <span class="sub__header_item">Natal Chart Reading</span>
        <span class="sub__header_item">Relationship Compatibility</span>
        <span class="sub__header_item">Transit & Progression</span>
        <span class="sub__header_item">Personal Horoscope for a Year</span>
        <span class="sub__header_item">When I get married?</span>
        <span class="sub__header_item">Natal Chart Reading</span>
        <span class="sub__header_item">Relationship Compatibility</span>
        <span class="sub__header_item">Transit & Progression</span>
        <span class="sub__header_item">Personal Horoscope for a Year</span>
    </div>
</div>