<div class="whatIs blockTemplate">
    <img src="images/whatIs_bg.png" alt="" class="whatIs__bg-img">
    <img src="images/stars_bg.png" alt="" class="whatIs__stars-bg-img">
    <div class="container2">
        <div class="blockTemplate__content whatIs__content">
            <div class="sectionTitle">
                What is a Natal Chart?
            </div>
            <div class="whatIs__desc">
                <div class="whatIs__desc-item">A natal chart, also known as a birth chart, is a map of the sky at the exact moment you were born. It is a snapshot of the positions of the planets and stars at the time of your birth, and it can provide valuable insights into your personality, strengths, and potential challenges.</div>
                <div class="whatIs__desc-item">At AstroQueen, we use the latest astrological techniques and tools to create accurate and detailed natal charts for our clients. Our expert astrologers will work with you to interpret your chart and help you understand the unique gifts and challenges that are present in your birth chart.</div>
            </div>
            <div class="whatIs__numbers">
                <div class="whatIs__group">
                    <div class="whatIs__number">7</div>
                    <div class="whatIs__number-desc">years of successful work</div>
                </div>
                <div class="whatIs__group">
                    <div class="whatIs__number">189+</div>
                    <div class="whatIs__number-desc">PARTNER</div>
                </div>
                <div class="whatIs__group">
                    <div class="whatIs__number">600+</div>
                    <div class="whatIs__number-desc">HAPPY CLIENT</div>
                </div>
                <div class="whatIs__group">
                    <div class="whatIs__number">1k</div>
                    <div class="whatIs__number-desc">completed orders</div>
                </div>
            </div>
        </div>
    </div>
</div>