html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html,
body {
	overflow-x: hidden;
}
body {
	font-family: "Raleway", sans-serif;
	background-color: #fdf6f0;
	position: relative;
	cursor: default;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: initial;
	color: unset;
	&:focus {
		color: #c17465;
	}
}
button {
	border: none;
	padding: 0;
	background: none;
}
.form-control {
	padding: 0;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.revert180 {
	transform: rotateZ(180deg);
}
.container {
	max-width: 1920px;
	margin: auto;
	padding: 0 48px;
	@include max-xxl {
		padding: 0 35px;
	}
	@include max-lg {
		padding: 0 24px;
	}
}
.container2 {
	max-width: 1920px;
	margin: auto;
	padding: 0 370px;
	@include max-xxxl {
		padding: 0 150px;
	}
	@include max-xxl {
		padding: 0 35px;
	}
	@include max-lg {
		padding: 0 24px;
	}
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-stage {
	display: flex;
	// align-items: center;
}
.owl-nav {
	display: none;
}
.owl-dots {
	display: none;
}
.slick-arrow {
	display: none !important;
}
.slick-dots {
	display: none !important;
}
.custom-button {
	background: #c17465;
	border-radius: 5px;
	color: #fff;
}
.row-rewerse {
	flex-direction: row-reverse;
}
.opacity0 {
	opacity: 0;
}
.catalog__active {
	margin-top: 11px !important;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0);
}
.sectionTitle {
	font-family: El Messiri;
	font-size: 50px;
	font-weight: 700;
	line-height: 65px;
	text-align: center;
	color: #936d42;
	text-transform: uppercase;
	max-width: 777px;
	margin: auto;
	@include max-xlmidle{
		font-size: 32px;
		line-height: 42px;
	}
	
	@include max-md {
		font-size: 24px;
		line-height: 31px;
	}
}
.sectionText {
	font-family: Mulish;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	color: #05081E;
}
.link-more {
	font-family: Mulish;
	font-size: 13px;
	font-weight: 700;
	line-height: 16px;
	color: #05081E;
	display: flex;
	align-items: center;
	column-gap: 10px;
	text-transform: uppercase;
	cursor: pointer;
	&::before {
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0566 6.33962L6.64151 0L4.5283 6.33962L0 8.45283L4.5283 10.566L6.64151 16L9.0566 10.566L13.5849 8.45283L9.0566 6.33962Z' fill='%23936D42'/%3E%3C/svg%3E%0A");
		width: 14px;
		height: 16px;
		background-size: contain;
		background-repeat: no-repeat;
		display: block;
		transition: .5s;
	}
}
.link-more:hover::before {
	transform: rotate(90deg);
	transition: .5s;
}
.btn__next {
	width: 13px;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
select::-ms-expand {
	display: none;
}
#top {
	background-image: url(../images/main_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.custom__link {
	padding: 16px;
	width: 100%;
	max-width: 333px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&.black {
		background-color: #05081e;
		color: #fff;
	}
	&.white {
		background-color: #fff;
		& span {
			color: #05081e;
		}
	}
	& span {
		display: flex;
		align-items: center;
		column-gap: 10px;
		font-family: Proza Libre;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		color: #fffcfa;
		&::before {
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0566 6.33962L6.64151 0L4.5283 6.33962L0 8.45283L4.5283 10.566L6.64151 16L9.0566 10.566L13.5849 8.45283L9.0566 6.33962Z' fill='%23936D42'/%3E%3C/svg%3E%0A");
			width: 14px;
			height: 16px;
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
		}
	}
}
.sub__header_fullwidth {
	position: relative;
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
	background-color: #05081e;
	overflow: hidden;
}

.sub__header {
	padding: 36px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 22px;
	animation: marquee 20s linear infinite;
	@include max-xlmidle {
		padding: 30px 0;
	}
}
@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
@media (max-width: 768px) {
	.sub__header {
		padding: 24px 0;
	}
}

.sub__header_item {
	font-family: Philosopher;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	color: #fffcfa;
	display: flex;
	align-items: center;
	column-gap: 10px;
	min-width: max-content;
	text-transform: uppercase;
	&::before {
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0566 6.33962L6.64151 0L4.5283 6.33962L0 8.45283L4.5283 10.566L6.64151 16L9.0566 10.566L13.5849 8.45283L9.0566 6.33962Z' fill='%23936D42'/%3E%3C/svg%3E%0A");
		width: 14px;
		height: 16px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
@media (max-width: 768px) {
	.sub__header_item {
		font-size: 16px;
		line-height: 18px;
	}
}
.blockTemplate {
	overflow: hidden;
	&__content {
		padding: 120px 0;
		@include max-xlmidle{
			padding: 80px 0;
		}
		@include max-md{
			padding: 56px 0;
		}
		
	}
}
.mw230 {
	max-width: 230px !important;
	@include max-lg{
		max-width: 100% !important;
	}
	
}

/* для элемента input c type="checkbox" */
.custom-checkbox>input {
	position: absolute;
	z-index: -1;
	opacity: 0;
  }
  
  /* для элемента label, связанного с .custom-checkbox */
  .custom-checkbox>span {
	display: inline-flex;
	align-items: center;
	user-select: none;
  }
  
  /* создание в label псевдоэлемента before со следующими стилями */
  .custom-checkbox>span::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #E7E7E7;
	margin-right: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
  }
  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox>input:checked+span::before {
	border-color: #E7E7E7;
	background-color: #000;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }